<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>pag3</title>
</head>
<body>
   <h1>CONTACTO</h1>
    </header>

    <button><a href="/">INICIO</a></button>
    <button><a href="/proyectos">PROYECTOS</a></button>
     <button><a href="/contacto">CONTACTO</a></button>
</body>
</html>